@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
<div id="kt_app_sidebar" class="app-sidebar flex-column mt-lg-4 ps-2 pe-2 ps-lg-7 pe-lg-4" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
    <div class="app-sidebar-logo flex-shrink-0 d-none d-md-flex flex-center align-items-center" id="kt_app_sidebar_logo">
        <!--begin::Logo-->
        <a href="/">
            <img alt="Logo" src="~/assets/media/logos/SU-VAN-Vertical.png" class="h-85px d-none d-sm-inline app-sidebar-logo-default theme-light-show" />
            <img alt="Logo" src="~/assets/media/logos/SU-VAN-Blanco-Vertical.png" class="h-85px theme-dark-show" />
        </a>
        <!--end::Logo-->
        <!--begin::Aside toggle-->
        <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
            <div class="btn btn-icon btn-active-color-primary w-30px h-30px" id="kt_aside_mobile_toggle">
                <i class="ki-outline ki-abstract-14 fs-1"></i>
            </div>
        </div>
        <!--end::Aside toggle-->
    </div>
    <!--begin::sidebar menu-->
    <div class="app-sidebar-menu flex-column-fluid">
        <!--begin::Menu wrapper-->
        <div id="kt_app_sidebar_menu_wrapper" class="hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px">
            <!--begin::Menu-->
            <div class="menu menu-column menu-rounded menu-sub-indention fw-bold px-6" id="kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">

                
                                @{
                    var menuOptions = await UsuarioHelper.GetOpcionesMenu(User);
                    if (menuOptions != null)
                    {
                        


                        int totalMenuOptions = menuOptions.Count();
                        int currentIndex = 0;

                @foreach (var menu in menuOptions)  
                {

                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-icon">
                                <i class="@menu.MenuItem.Icono"></i>
                            </span>
                            <span class="menu-title">@menu.MenuItem.Titulo</span>
                            <span class="menu-arrow"></span>
                        </span>
                        <!--end:Menu link-->
                        @if (menu.SubMenuItems.Any())
                        {
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-accordion">

                                @foreach (var subMenu in menu.SubMenuItems)
                                {
                                    


                                            @if (subMenu.Id==90 && subMenu.SubMenuItems != null && subMenu.SubMenuItems.Any())
                                            {
                                                <!--begin:Menu item con submenú desplegable-->
                                                <div class="menu-item menu-accordion" data-kt-menu-trigger="click">
                                                    <!--begin:Menu link-->
                                                    <span class="menu-link">
                                                        <span class="menu-bullet">
                                                            <span class="bullet bullet-dot"></span>
                                                        </span>
                                                        <span class="menu-title">@subMenu.Titulo</span>
                                                        <span class="menu-arrow"></span>
                                                    </span>
                                                    <!--end:Menu link-->
                                                    <div class="menu-sub menu-sub-accordion">
                                                        @foreach (var opcionHija in subMenu.SubMenuItems)
                                                        {
                                                            <div class="menu-item">
                                                                <!--begin:Menu link-->
                                                                <a class="menu-link" href="@opcionHija.Ruta" title="@opcionHija.Titulo" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                                                                    <span class="menu-bullet">
                                                                        <span class="bullet bullet-dot"></span>
                                                                    </span>
                                                                    <span class="menu-title">@opcionHija.Titulo</span>
                                                                </a>
                                                                <!--end:Menu link-->
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <!--end:Menu item con submenú desplegable-->
                                            }
                                            else
                                            {
                                                <!-- Si no hay hijos, se muestra como un link normal -->
                                                <div class="menu-item">
                                                    <a class="menu-link" href="@subMenu.Ruta" title="@subMenu.Titulo" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                                                        <span class="menu-bullet">
                                                            <span class="bullet bullet-dot"></span>
                                                        </span>
                                                        <span class="menu-title">@subMenu.Titulo</span>
                                                    </a>
                                                </div>
                                            }




                                }
                            </div>
                            <!--end:Menu sub-->
                        }
                    </div>
                    <!--end:Menu item-->
                }
                    }
                    }

            </div>
        </div>
        <!--end::Menu-->
    </div>
    <!--end::Menu wrapper-->
    <!--end::sidebar menu-->
    <!--begin::Footer-->
    <div class="app-sidebar-footer d-flex align-items-center px-8 pb-10" id="kt_app_sidebar_footer">
        <!-- User info and other items remain unchanged -->
    </div>
    <!--end::Footer-->
</div>

