@using SUVAN.BackOffice.Models.Facturacion
@using SUVAN.BackOffice.Models.ViewModel;
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
    ViewData["Title"] = "Departamento";
}

@model DeptoViewModel
@{
    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.empresas);
    if (permisosPagina == null)
    {
        return;
    }
    var isAgregarText = Model.id_depto == 0 ? "Agregar" : "Editar";
    var regiones = ViewBag.Regiones as List<SUVAN.BackOffice.Database.Entities.Region> ?? new List<SUVAN.BackOffice.Database.Entities.Region>();
}
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar ">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
            <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                <a href="~/configuracion/departamentos" class="page-heading d-flex justify-content-center align-center text-dark fw-bold fs-3 m-0 ">
                    <i class="ki-duotone ki-left fs-1 pe-5"></i>
                    <span>@isAgregarText @ViewData["Title"]</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="card">
            <div class="card-body py-4">
                <form class="form w-100" novalidate="novalidate" id="kt_depto_form" data-kt-redirect-url="/" asp-controller="Configuracion" asp-action="AgregarDepartamento" method="post">
                    @Html.AntiForgeryToken()
                    <input asp-for="id_depto" type="hidden" />

                    <div class="fv-row mb-8">
                        <div class="col-sm-12">
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Región -->
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="id_region" class="col-sm-12 col-form-label text-gray-600 required">Región</label>
                                <div class="col-sm-12">
                                    @if (Model.id_depto > 0)
                                    {
                                        <input type="hidden" asp-for="id_region" />
                                    }
                                    <select asp-for="id_region" class="form-select" data-control="select2" data-placeholder="Seleccione una región" disabled="@(Model.id_depto > 0 ? "disabled" : null)">
                                        <option value=""></option>
                                        @foreach (var r in regiones)
                                        {
                                            <option value="@r.IdRegion">@r.Nombre</option>
                                        }
                                    </select>
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="id_region"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Planta -->
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="id_planta" class="col-sm-12 col-form-label text-gray-600 required">ID Planta</label>
                                <div class="col-sm-12">
                                    @if (Model.id_depto > 0)
                                    {
                                        <input type="hidden" asp-for="id_planta" />
                                    }
                                    <input asp-for="id_planta" class="form-control bg-transparent" placeholder="ID de la planta" readonly="@(Model.id_depto > 0 ? "readonly" : null)" />
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="id_planta"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Zona -->
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="id_zona" class="col-sm-12 col-form-label text-gray-600 required">ID Zona</label>
                                <div class="col-sm-12">
                                    @if (Model.id_depto > 0)
                                    {
                                        <input type="hidden" asp-for="id_zona" />
                                    }
                                    <input asp-for="id_zona" class="form-control bg-transparent" placeholder="ID de la zona" readonly="@(Model.id_depto > 0 ? "readonly" : null)" />
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="id_zona"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Deposito -->
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="id_deposi" class="col-sm-12 col-form-label text-gray-600 required">ID Depósito</label>
                                <div class="col-sm-12">
                                    @if (Model.id_depto > 0)
                                    {
                                        <input type="hidden" asp-for="id_deposi" />
                                    }
                                    <input asp-for="id_deposi" class="form-control bg-transparent" placeholder="ID del depósito" readonly="@(Model.id_depto > 0 ? "readonly" : null)" />
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="id_deposi"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="descrip" class="col-sm-12 col-form-label text-gray-600 required">Descripción</label>
                                <div class="col-sm-12">
                                    <input asp-for="descrip" class="form-control bg-transparent" placeholder="Descripción del departamento" maxlength="40" />
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="descrip"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="responsable" class="col-sm-12 col-form-label text-gray-600 required">Responsable</label>
                                <div class="col-sm-12">
                                    <input asp-for="responsable" class="form-control bg-transparent" placeholder="Nombre del Responsable" maxlength="50" />
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="responsable"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-10 text-end">
                        <button type="submit" id="kt_depto_submit" class="btn btn-primary">
                            <span class="indicator-label">Guardar</span>
                            <span class="indicator-progress">
                                Por favor espere...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end::Content-->
@section scripts {
    <script src="~/js/configuracion/depto/add.js" asp-append-version="true"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
}
