@using SUVAN.BackOffice.Models.Facturacion
@using SUVAN.BackOffice.Models.ViewModel;
@using SUVAN.BackOffice.Models.ViewModel.Enums;
@using SUVAN.BackOffice.Portal.Helper;
@inject IUsuarioHelper UsuarioHelper
@{
    ViewData["Title"] = "Planta";
}

@model PlantaViewModel
@{
    var permisosPagina = await UsuarioHelper.GetPermisosPagina(User, EnumOpcionMenu.empresas);
    if (permisosPagina == null)
    {
        return;
    }
    var isAgaregarText = Model.id_planta == 0 ? "Agregar" : "Editar";
    var regiones = ViewBag.Regiones as List<SUVAN.BackOffice.Database.Entities.Region> ?? new List<SUVAN.BackOffice.Database.Entities.Region>();
}
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar ">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
        <!--begin::Toolbar wrapper-->
        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center gap-1 me-3">
                <!--begin::Title-->
                <a href="~/configuracion/plantas" class="page-heading d-flex justify-content-center align-center text-dark fw-bold fs-3 m-0 ">
                    <i class="ki-duotone ki-left fs-1 pe-5">
                    </i>
                    <span>@isAgaregarText @ViewData["Title"]</span>
                </a>
                <!--end::Title-->

            </div>
            <!--end::Page title-->

        </div>
        <!--end::Toolbar wrapper-->
    </div>
    <!--end::Toolbar container-->
</div>
<!--end::Toolbar-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">
        <!--begin::Card-->
        <div class="card">

            <!--begin::Card body-->
            <div class="card-body py-4">

                <form class="form w-100" novalidate="novalidate" id="kt_planta_in_form" data-kt-redirect-url="/" asp-controller="Configuracion" asp-action="AgregarPlanta" method="post">
                    @Html.AntiForgeryToken()
                    <input asp-for="id_emp" type="hidden" value="@User.GetEmpresaId()" />
                    <input asp-for="id_planta" type="hidden" />

                    <div class="fv-row mb-8">
                        <div class="col-sm-12">
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fv-row mb-8">
                                <label asp-for="id_region" class="col-sm-12 col-form-label text-gray-600 required">Región</label>
                                <div class="col-sm-12">
                                    @if (Model.id_planta > 0)
                                    {
                                        <input type="hidden" asp-for="id_region" /> <!-- Valor oculto-->
                                    }
                                    <select asp-for="id_region" class="form-select" data-control="select2" data-placeholder="Seleccione una región" disabled="@(Model.id_planta > 0 ? "disabled" : null)">
                                        <option value=""></option>
                                        @foreach (var r in regiones)
                                        {
                                            <option value="@r.IdRegion">@r.Nombre</option>
                                        }
                                    </select>
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="id_region"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="nombre" class="col-sm-12 col-form-label text-gray-600 required">Nombre</label>
                                <div class="col-sm-12">
                                    <input asp-for="nombre" class="form-control bg-transparent" placeholder="Nombre de la planta" maxlength="45" />
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="nombre"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="fv-row mb-8">
                                <label asp-for="libreria" class="col-sm-12 col-form-label text-gray-600">Librería</label>
                                <div class="col-sm-12">
                                    <input asp-for="libreria" class="form-control bg-transparent" placeholder="Librería (Opcional)" maxlength="50" />
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                        <span asp-validation-for="libreria"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-10 text-end">
                        <button type="submit" id="kt_planta_in_submit" class="btn btn-primary">
                            <!--begin::Indicator label-->
                            <span class="indicator-label">Guardar</span>
                            <!--end::Indicator label-->
                            <!--begin::Indicator progress-->
                            <span class="indicator-progress">
                                Por favor espere...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                            <!--end::Indicator progress-->
                        </button>
                    </div>
                </form>

            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Content container-->
</div>
<!--end::Content-->
@section scripts {
    <script src="~/js/configuracion/planta/add.js" asp-append-version="true"></script>
    <script src="~/assets/js/widgets.bundle.js"></script>
    <script src="~/assets/js/custom/widgets.js"></script>
}